
.alert .alert-icon-or-avatar > .icon {
  margin: -.125rem 1rem -.125rem 0;
  font-size: 1.4rem;
  display: block;
  color: var(--tblr-alert-color);
}

.alert.alert-important .alert-icon-or-avatar > .icon {
  color: white;
}

.avatar > .icon {
  font-size: calc(var(--tblr-avatar-size)/ 1.6666666667);
  width: calc(var(--tblr-avatar-size)/ 1.6666666667);
  height: calc(var(--tblr-avatar-size)/ 1.6666666667);
}

.btn > .icon {
  font-size: 1.25rem;
}
