
.alert .alert-icon-or-avatar > .ti {
  margin: -.125rem 1rem -.125rem 0;
  font-size: 1.4rem;
  display: block;
  color: var(--tblr-alert-color);
}

.alert.alert-important .alert-icon-or-avatar > .ti {
  color: white;
}

.avatar > .ti {
  font-size: 24px; /* TODO : in rem */
}

.btn > .ti {
  font-size: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  margin: 0 .5rem 0 -.25rem;
  vertical-align: bottom;
  color: inherit;
}

.btn.btn-icon > .ti {
  margin: 0 -1rem;
}